@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
header .logo-container {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  align-items: center;
  margin-left: 50px;
}
header .div-logo {
  background-color: #0074FF;
  width: 12px;
  height: 5px;
  margin: 0 5px;
}
header ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
header ul li {
  font-size: 1em;
  list-style-type: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  transition: 0.5s;
  margin: 5vw;
}
header ul li:hover {
  border-bottom: 2px solid rgba(28, 125, 244, 0.8078431373);
}

@media (max-width: 800px) {
  header {
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
  }
  header ul {
    display: none;
  }
  header .one, header .two, header .three {
    background-color: #2e2e2e;
    height: 2px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }
  header .menu-toggle {
    width: 40px;
    margin-right: 20px;
  }
  header .menu-section.on {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e6e6e6;
    width: 80vw;
    height: 60vh;
  }
  header .menu-section.on ul {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header .menu-section.on ul a {
    transition-duration: 0.5s;
    font-size: 1.4rem;
    height: 3rem;
    margin: 10px;
  }
  header .menu-section.on ul a :hover {
    color: white;
    border-bottom: 0 solid transparent;
  }
  header .menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 15;
    margin-top: 17px;
    margin-right: 40px;
  }
  header .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    height: 2px;
  }
  header .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  header .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(5px, -5px);
    height: 2px;
  }
}
footer {
  margin-top: 5vh;
  background-color: #1a1a1a;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
}
footer p {
  background-color: transparent;
  color: white;
  padding-right: 30px;
}
footer .logo-container {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  align-items: center;
  margin-left: 50px;
  background-color: transparent;
}
footer .logo-container h1 {
  background-color: transparent;
  color: white;
}
footer .div-logo {
  background-color: #0074FF;
  width: 12px;
  height: 5px;
  margin: 0 5px;
}

@media (max-width: 1000px) {
  footer p {
    font-size: 2vw;
  }
}
#section-first {
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: "Montserrat";
  align-items: center;
}
#section-first img {
  width: auto;
  max-width: 90vw;
  padding-left: 300px;
}
#section-first h1 {
  width: 10vw;
  padding: 5px;
  font-size: 4vw;
}
#section-first p {
  padding-top: 10px;
  width: 25vw;
  color: #595959;
  text-align: left;
}
#section-first button {
  font-family: "Montserrat";
  margin-top: 20px;
  padding: 9px 12px;
  color: rgba(0, 115, 255, 0.6745098039);
  font-size: 2vh;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.692);
  transition: 0.3s;
  background-color: white;
}
#section-first button:hover {
  background-color: rgba(41, 119, 214, 0.7647058824);
  color: white;
  border: 1px solid white;
}

@media (max-width: 1500px) {
  #section-first img {
    width: 50%;
    padding-left: 10vw;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  #section-first {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #section-first img {
    margin: auto;
    margin-top: 40px;
  }
  #section-first h1 {
    font-size: 2em;
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  #section-first p {
    width: 70%;
    font-size: 1em;
    margin: auto;
  }
  #section-first button {
    margin-left: 15vw;
  }
}
@media (max-width: 600px) {
  #section-first {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #section-first img {
    margin: auto;
    margin-top: 60px;
  }
  #section-first h1 {
    font-size: 2em;
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  #section-first p {
    text-align: center;
    width: 70%;
    font-size: 1em;
    margin: auto;
  }
  #section-first button {
    margin-left: auto;
  }
}
#section-two {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
#section-two #circle {
  padding: 0px;
  position: absolute;
  width: 60vh;
  margin-right: 90%;
  height: 60vh;
  border-radius: 50%;
  background-color: rgba(0, 115, 255, 0.1882352941);
}
#section-two h2 {
  font-size: 4vh;
}
#section-two p {
  text-align: center;
  padding: 40px 0px;
  width: 60vw;
  color: #595959;
  z-index: 2;
}

.line {
  width: 400px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.865);
  margin-top: 15vh;
}

@media (max-width: 600px) {
  .provisorio {
    height: 50vw;
  }

  #circle {
    margin-top: 150px;
    opacity: 0.1;
  }
}
.section-three {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
}
.section-three #circle2 {
  margin-top: 12vh;
  position: absolute;
  width: 60vh;
  margin-left: 90%;
  height: 60vh;
  border-radius: 50%;
  border: 3px solid rgba(74, 150, 244, 0.5960784314);
}
.section-three h1 {
  padding: 40px 0px 0px 0px;
}
.section-three p {
  z-index: 1;
  text-align: center;
  padding: 40px 0px;
  width: 80%;
  color: #595959;
  background-color: transparent;
}

.display-container {
  display: flex;
  flex-direction: row;
}
.display-container .display-item {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 47vh;
  background-color: #0074ff;
  margin-left: 20px;
  transition: 0.5s;
  box-shadow: 3px 2px 10px 2px rgba(0, 0, 0, 0.123);
}
.display-container .display-item h2 {
  position: absolute;
  color: rgba(26, 26, 26, 0.1764705882);
  font-size: 15vh;
  font-weight: bolder;
  padding-left: 5px;
}
.display-container .display-item h3 {
  z-index: 1;
  padding: 10vh 10px 0px 30px;
  color: white;
  font-size: 3.3vh;
}
.display-container .display-item p {
  text-align: left;
  width: 90%;
  font-size: 2vh;
  padding: 6vh 10px 10px 10px;
  color: white;
}
.display-container .display-item:hover {
  transform: scale(1.06);
}

@media (max-width: 1200px) {
  .display-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .display-container .display-item {
    margin: 2vh;
    padding: 2vw;
  }
}
@media (max-width: 800px) {
  .display-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .display-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
#section-four {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
#section-four p {
  text-align: center;
  padding: 40px 0px;
  width: 80%;
  color: #595959;
}

.icone-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.icone-container div {
  width: 35vh;
  margin: 3vh;
  display: flex;
  flex-direction: column;
  align-content: left;
}
.icone-container div h3 {
  margin-top: 4vh;
  text-align: left;
  margin-left: 5vh;
}
.icone-container div p {
  text-align: left !important;
  width: 90% !important;
  font-size: 2.2vh;
  margin-left: 5vh;
}
.icone-container div i {
  display: block;
  position: relative;
  right: 12px;
  top: 30px;
}

@media (max-width: 800px) {
  .icone-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .icone-container div {
    margin: 1vh;
  }

  i {
    top: 60px;
    right: 8px;
  }

  .line {
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .icone-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (prefers-color-scheme: dark) {
  section {
    background-color: rgb(59, 58, 58);
    color: white;
  }
  section p {
    color: white !important;
  }
  section button {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.541) !important;
  }

  body {
    background-color: rgb(59, 58, 58);
  }

  header {
    background-color: rgb(59, 58, 58);
    color: white;
  }
  header a {
    color: white;
  }
  header .logo-container {
    color: white;
  }

  .one, .two, .three {
    background-color: rgb(253, 253, 253) !important;
  }

  .menu-section.on {
    background-color: rgb(24, 24, 24) !important;
  }
}
.line {
  background-color: rgba(255, 255, 255, 0.575);
}

#circle {
  background-color: #5e9fee !important;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
