#section-four{
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    p{
        text-align: center;
        padding: 40px 0px;
        width: 80%;
        color: #595959;
    }
}

.icone-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    div{
        width: 35vh;
        margin: 3vh;
        display: flex;
        flex-direction: column;
        align-content: left;
        

        h3{
            margin-top: 4vh;
            text-align: left;
            margin-left: 5vh;
        }

        p{
           text-align: left !important;
            width: 90% !important;
            font-size: 2.2vh;
            margin-left: 5vh;
        }
        i{  
            display: block;
            position: relative;
            right: 12px;
            top: 30px;
        }
    }
}
@media (max-width: 800px){
    .icone-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        div{
            margin: 1vh;
        }
    }
    i{
        top: 60px;
        right: 8px;
    }
}
@media (max-width: 350px){
    i{
        opacity: 0;
    }
}